<mat-tab-group>
    <mat-tab label="Activity">
        <ng-template matTabContent>
            <app-activity-table></app-activity-table>
        </ng-template>
    </mat-tab>
    <mat-tab label="My Activity">
        <ng-template matTabContent>
            <app-my-activity-table></app-my-activity-table>
        </ng-template>
    </mat-tab>
    <mat-tab label="Confirmation List">
        <ng-template matTabContent>
            <app-confirmation-table></app-confirmation-table>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <button mat-icon-button (click)="logout()">
                Logout
            </button>
        </ng-template>
    </mat-tab>

</mat-tab-group>